
$navHeight: 69px;
$logoHeight: 60px;
$padding: 15px;
$padding-big: 30px;

/*I am a nightmare walking, psychopath talking
King of my jungle just a gangster stalking
Living life like a firecracker quick is my fuse
Then dead as a deathpack the colors I choose
Red or Blue, Cuz or Blood, it just don't matter
Sucker die for your life when my shotgun scatters
We gangs of L.A. will never die, just multiply
Colors
Colors, colors, colors,*/
$light: #f9f9f9;
$lightest: #fff;

$gray: #3b3634;
$grayest: #303030;

$dark: #222;
$darkest: #000;

$rainbow-red:     #ee293f20;
$rainbow-orange:  #ff9f0020;
$rainbow-yellow:  #fffd0020;
$rainbow-green:   #00ff0e20;
$rainbow-blue:    #00caff20;
$rainbow-indigo:  #4c29ee20;
$rainbow-violet:  #e729ee20;

$rainbow: (
        $rainbow-red,
        $rainbow-orange,
        $rainbow-yellow,
        $rainbow-green,
        $rainbow-blue,
        $rainbow-indigo,
        $rainbow-violet
);

$rainbow-bright-red: #ee3f46;
$rainbow-bright-orange: #ffb53e;
$rainbow-bright-yellow: #fffd63;
$rainbow-bright-green: #64ff69;
$rainbow-bright-blue:    #00caff;
$rainbow-bright-indigo: #626bee;
$rainbow-bright-violet:  #e729ee;

$rainbow-bright: (
        $rainbow-bright-red,
        $rainbow-bright-orange,
        $rainbow-bright-yellow,
        $rainbow-bright-green,
        $rainbow-bright-blue,
        $rainbow-bright-indigo,
        $rainbow-bright-violet
);

$grays:
        #DCDCDC40
        #D3D3D340
        #C0C0C040
        #A9A9A940
        #80808040
        #69696940
        #55555540;


$grid-breakpoints: (
        xxxs: 0,
        xxs: 320px,
        xs: 568px,
        sm: 667px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
        xxxl: 1600px
)