@import "vars";
@import "mixins";


@import "components/base";
@import "components/common";
@import "components/cube";

@import "components/footer";
@import "components/header";
@import "components/modal";
@import "components/nav";
//@import "comps/scrollbar";
@import "components/transition";

@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Solid');

body {
  background: $lightest;
}
main {
  padding: 100px 0 $padding-big;
  border-bottom: $padding solid rgba(0,0,0,.1);
}

.float-left {
  float: left;
}
// Docs
.highlight-dark {
  background: rgba(0,0,0, .05);
  margin: 0 -7px 10px;
  padding: 5px 7px;
}
.divide-from-next {
  $space: 5px;
  padding-right: $space;
  margin-right: $space;
  &:after {
    position: relative;
    content: "/";
    right: -$space;
  }
}
.add-padding-to-cols {
  > div {
    padding-bottom: $padding-big;
  }
}

.song-column {
  margin-bottom: $padding;
}

.vertical-text {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

// Pages
.fullscreen {
  min-height: calc(100vh - 50px);
  background: rgba(0,0,0, .8);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div.title {
    font-size: 40px;
    font-weight: bold;
  }
  section {
    p {
      font-size: 20px;
    }
  }
}

.bg-picture {
  position: relative;
  background: url("/images/casey-drawing.jpg") no-repeat center center;
  background-size: cover;
}

.floater {
  animation: float 6s ease-in-out infinite;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  transform: translateY(0);
}
.media {
  overflow: visible;
  .media-left {
    padding-right: $padding;
  }
  .media-heading {
    font-weight: 500;
  }
}
#icon-files {
  overflow: visible;
  animation: pulse 6s ease-in-out infinite;
  transform: translateY(-5px);
}
@keyframes pulse {
  0% {
    transform: scale(.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(.9);
  }
}
@keyframes bob {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-3px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 15px 10px 0 rgba(0,0,0,0.05);
    transform: translateY(-6px);
  }
  100% {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transform: translateY(0);
  }
}

main {
  background: $background-lighter;
}
.about {
  background: $background;
  .btn {
    margin-top: $padding;
  }

}

.portfolio {
  .row {
    background: rgba(0,0,0, .1);
    padding: 30px;
  }
  .tile, .tile-viewport {
    border-radius: 4px;
  }
}

.generic {
  background: white;
  .row {
    &:only-child {
      min-height: 60vh;
    }
  }
}