@import "vars";
@import "mixins";


@import "components/base";
@import "components/common";
@import "components/cube";

@import "components/footer";
@import "components/header";
@import "components/modal";
@import "components/nav";
//@import "comps/scrollbar";
@import "components/transition";

@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Solid');

body {
  background: $lightest;
}
main {
  padding: 100px 0 $padding-big;
  border-bottom: $padding solid rgba(0,0,0,.1);
}

// Docs
.highlight-dark {
  background: rgba(0,0,0, .05);
  margin: 0 -7px 10px;
  padding: 5px 7px;
}
.divide-from-next {
  $space: 5px;
  padding-right: $space;
  margin-right: $space;
  &:after {
    position: relative;
    content: "/";
    right: -$space;
  }
}
.add-padding-to-cols {
  > div {
    padding-bottom: $padding-big;
  }
}

// Pages
.fullscreen {
  min-height: calc(100vh - 50px);
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div.title {
    font-size: 40px;
    font-weight: bold;
  }
  section {
    p {
      font-size: 20px;
    }
  }
}

.about {
  background: $rainbow-bright-red;
}
.experience {
  background: $rainbow-bright-orange;

}
.education {
  background: $rainbow-bright-yellow;
}
.skills {
  background: $rainbow-bright-green;
}
.portfolio {
  background: $rainbow-bright-blue;

  .row {
    background: rgba(0,0,0, .1);
    padding: 30px;
  }
}
.contact {
  background: $rainbow-bright-indigo;
}