@import "vars";
@import "mixins";


@import "components/base";
@import "components/common";
@import "components/cube";

@import "components/footer";
@import "components/header";
@import "components/modal";
@import "components/nav";
//@import "comps/scrollbar";
@import "components/transition";

@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Solid');

body {
  background: $lightest;
}
main {
  padding: 100px 0 $padding-big;
  border-bottom: $padding solid rgba(0,0,0,.1);
}

.float-left {
  float: left;
}

.highlight-dark {
  background: rgba(0,0,0, .05);
  margin: 0 -7px 10px;
  padding: 5px 7px;
}
.divide-from-next {
  $space: 5px;
  padding-right: $space;
  margin-right: $space;
  &:after {
    position: relative;
    content: "/";
    right: -$space;
  }
}
.add-padding-to-cols {
  > div {
    padding-bottom: $padding-big;
  }
}

.song-column {
  margin-bottom: $padding;
}

.justify-vertical {
  @include breakpoint(md) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

}

// Pages
.fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - 50px);
  padding-right: $padding-big;
  padding-left: $padding-big;
  background: rgba(0,0,0, .8);
  color: #fff;


  div.title {
    font-size: 40px;
    font-weight: bold;
  }
  section {
    p {
      font-size: 20px;
    }
  }
}

.bg-picture {
  position: relative;
  background: url("/images/casey-drawing.jpg") no-repeat center center;
  background-size: cover;
}

.floater {
  animation: float 6s ease-in-out infinite;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  transform: translateY(0);
}

.media {
  overflow: visible;
  .media-left {
    padding-right: $padding;
  }
  .media-heading {
    font-weight: 500;
  }
}



main {
  background: $background-lighter;
}
.about {
  background: $background;
  .row {
    margin-bottom: $padding-big*2;
  }
  .btn {
    display: block;
    margin: $padding-big auto;
  }
  .section-drawing {
    margin-top: $padding-big;
    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}

.portfolio {
  .row {
    background: rgba(0,0,0, .1);
    padding: 30px;
  }
  .tile, .tile-viewport {
    border-radius: 4px;
  }
}

.generic {
  background: white;
  .row {
    &:only-child {
      min-height: 60vh;
    }
  }
}