@import "../../../sass/mixins";
@import "../../../sass/vars";

.paper {
  width: 140px;
  height: 180px;
  background: white;
}
.graph-paper {
  width: 140px;
  height: 160px;

  background-color: #effbff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%231dbddf' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.t-square {
  transform: translateX(-154px) translateY(-9px) rotate(-15deg);
}
.markers {
  transform: translateX(-135px);
}
.marker {
  opacity: 0;

  g {
    transform-origin: 50% 50%;
  }

  &:nth-child(1) g {
    .st0 {
      fill: #000;
    }
    transform:
        rotate(-8deg)
        translateX(40px)
        translateY(50px)
    ;
  }
  &:nth-child(2) g {
    .st0 {
      fill: #2cb18f;
    }
    transform:
        rotate(-40deg)
        translateX(40px)
        translateY(50px)
    ;
  }
  &:nth-child(3) g {
    .st0 {
      fill: #5052ee;
    }
    transform:
        rotate(80deg)
        translateX(40px)
        translateY(50px)
    ;
  }

}

.drawing {
  transform: translateX(15%);

  @include breakpoint(sm) {
    transform: translateX(25%);
  }
  @include breakpoint(md) {
    transform: translateX(0);
  }

  // drop in markers when in view
  .Plx--below {

    + .markers {

      .marker {

        //@for $i from 1 through 4 {
        //  &:nth-child(#{$i})  {
        //
        //    animation: fall random(700)+ms forwards;
        //    animation-delay: 50ms;
        //    animation-timing-function: ease-in-out;
        //    opacity: 0;
        //
        //  }
        //}


        &:nth-child(1)  {

          animation: fall random(500)+ms forwards;
          animation-delay: random(50)+ms;
          animation-timing-function: ease-in-out;
          opacity: 0;

        }
        &:nth-child(2)  {

          animation: fall2 random(500)+ms forwards;
          animation-delay: random(50)+ms;
          animation-timing-function: ease-in-out;
          opacity: 0;

        }
        &:nth-child(3)  {

          animation: fall3 random(500)+ms forwards;
          animation-delay: random(50)+ms;
          animation-timing-function: ease-in-out;
          opacity: 0;

        }

      }
    }
  }
}

@keyframes fall {
  0% {
    transform: translateY(-100px) scale(4) rotate(-90deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}
@keyframes fall2 {
  0% {
    transform: translateY(200px) scale(3) rotate(180deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}
@keyframes fall3 {
  0% {
    transform: translateY(200px) scale(6) rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}