
#diagram-blocks {

  margin-top: 30px;
  width: 100%;

  .st0{fill:#050709;}
  .st1{fill:#D2D3D5;}
  .st2{fill:#808080;}
  .st3{fill:#FFFFFF;}

  .st4{fill:#BFC0C2;}
  .st5{fill:#6B6B6C;}
  .st6{fill:#7E7E80;}

  .st7{fill:#469B93;}
  .st8{fill:#295B56;}
  .st9{fill:#397E77;}

  .st10{fill:#A16123;}
  .st11{fill:#D3802E;}
  .st12{fill:#8E561F;}

  .st15{fill:#FFFFFF;}

  .st16{fill:#2F6D93;}
  .st17{fill:#3B89B9;}
  .st18{fill:#31729A;}

  .st19{opacity:0.3;fill:#FEFEFE;}
  .st20{opacity:0.6;fill:#FEFEFE;}

  .st22{fill:#783426;}
  .st23{fill:#733225;}
  .st26{fill:#783427;}
  .st36{fill:#C1543E;}

}