
#pencil {

  width: 12px;

  .st0{fill:#E2E2E2;}
  .st1{fill:#FE8A8E;}
  .st2{fill:#FEC500;}
  .st3{fill:#FE9C00;}
  .st4{fill:#777777;}
  .st5{fill:#FEDC6A;}
  .st6{fill:#040404;}
  .st7{fill:#DDDDDD;}

}