code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
p {
  font-size: 16px;
}
.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
.text-muted {
  color: $light;
}
.lead {
  font-size: 18px;
  @include breakpoint(md) {
    font-size: 21px;
  }
}
.btn-primary {
  background-color: $darkmetal-med;
  border-color: $darkmetal-dark;
  font-weight: 500;
  &:hover {
    background-color: $darkmetal;
    border-color: $darkmetal-med;
  }
}

.row {
  @include breakpoint(md) {
    margin-bottom: $padding-big;
  }
  &:first-child {
    margin-bottom: $padding;
    .h1, h1 {
      border-bottom: 1px solid black;
      padding-bottom: 10px;
    }
  }
}

