code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
p {
  font-size: 16px;
}
.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.text-muted {
  color: $light;
}

.row {
  @include breakpoint(md) {
    margin-bottom: $padding-big;
  }
  &:first-child {
    margin-bottom: $padding;
    .h1, h1 {
      border-bottom: 1px solid black;
      padding-bottom: 10px;
    }
  }
}

