@import "../../../sass/mixins";
@import "../../../sass/vars";

#diagram-files {

  max-width: 350px;
  .st0{fill:#01ADEE;}
  .st1{fill:#00A0E3;}
  .st2{fill:#FE8B00;}
  .st3{fill:#00A88D;}
  .st4{fill:#3B3A3A;}
  .st5{fill:#444444;}
  .st6{fill:#01B5A8;}
  .st7{fill:#EE4501;}
  .st8{fill:#5A5A5A;}
  .st9{fill:#F8593F;}
  .st10{fill:#E68C01;}
  .st11{fill:#E37900;}
  .st12{fill:#FD3300;}
  .st13{fill:#00937B;}
  .st14{fill:#DA2E00;}
  .st15{fill:#596C89;}
  .st16{opacity:0.5;fill:#FFFFFF;}
  .st17{fill:#FFFFFF;}
  .st18{fill:#CCCCCC;}
  .st19{fill:#222222;}
  .st20{fill:#61DAFB;}
  .st21{fill:#00AC54;}
  .st22{fill:#F47B20;}
}