
#diagram-puzzle {

  margin-top: 30px;
  width: 100%;

  .st0{fill:#E0E0E0;}
  .st1{fill:#F8F8F8;}
  .st2{fill:#444444;}
  .st3{fill:#586E81;}
  .st4{fill:#86D6C8;}
  .st5{fill:#4AACE8;}
  .st6{fill:#FFFFFF;}

}