@import "sass/vars";
@import "sass/mixins";

@import "sass/comps/base";
@import "sass/comps/common";
@import "sass/comps/nav";
@import "sass/comps/cube";
@import "sass/comps/header";
@import "sass/comps/footer";

@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Solid');

body {
  background: $lightest;
}
main {
  padding: 30px 0;
}

// Pages
.fullscreen {
  min-height: calc(100vh - 50px);
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div.title {
    font-size: 40px;
    font-weight: bold;
  }
  section {
    p {
      font-size: 20px;
    }
  }
}

.about {
  background: $rainbow-bright-red;
}
.experience {
  background: $rainbow-bright-orange;
}
.education {
  background: $rainbow-bright-yellow;
}
.skills {
  background: $rainbow-bright-green;
}
.portfolio {
  background: $rainbow-bright-blue;
}
.contact {
  background: $rainbow-bright-indigo;
}