#icon-files {
  width: 70px;
  .st0{fill:#F47B20;}
  .st1{opacity:0.5;fill:#FFFFFF;}
  .st2{fill:#FFFFFF;}
  .st3{fill:#61BA27;}
  .st4{fill:#FBFDFA;}
  .st5{fill:#FCFDFB;}
  .st6{fill:#00AC54;}
  .st7{fill:#596C89;}
  .st8{fill:#006ABA;}
  .st9{fill:#61DAFB;}
}